<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование человека</title>
</head>
<body>
  <form th:method="POST" th:action="@{/people/{id}/edit(id=${person.getPersonId()})}" th:object="${person}">
    <label for="name">Имя:</label>
    <input type="text" th:field="*{name}" name="name" id="name" />
    <label for="year">Год рождения:</label>
    <input type="text" th:field="*{year}" name="year" id="year" />
    <br>
    <hr>
    <input type="submit" value="Сохранить" />
  </form>
  <br>
  <a th:href="@{/people/{id}(id=${person.getPersonId()})}">Отмена</a>
</body>
</html>